@{
    ViewBag.Title = "关于我";
}
<h2>@ViewBag.Title.</h2>

<p>
    Location Spy 是一个仅供学习参考的地理定位器实现，它出于一个好友的紧急需求而快速开发，它基于 ASP.NET 及 SquirrelFramework 搭建，你可以在<a href="https://github.com/imnista" target="_blank">这里查看</a>相关代码。
    如果有任何问题，也可以<a href="http://nap7.com" target="_blank">联系我，Hendry Qi</a>。
</p>
